<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css file/notes.css">
    <title>Notes</title>
</head>

<body>
    <header>
        <nav class="inline">
            <div class="block">
                <div>
                    <img src="../images\icons8-menu-24.png" alt="menu bar">
                </div>
                <div>ALL NOTES</div>
            </div>
            <div id="rightnav" class="block"><img src="../images\icons8-expand-50.png" alt="expand"></div>
        </nav>
    </header>
    <main>
        <div class="inline" class="block">
            <div><img src="../images\icons8-search-24.png" alt="search icon"></div>
            <div> <input type="text" placeholder="Search all notes and tags"></div>
        </div>
        <div>
        </div>
        <div>

        </div>
    </main>
</body>

</html>